VITE_FIREBASE_API_KEY=tu_valor_real_aca
VITE_FIREBASE_AUTH_DOMAIN=tu_valor_real_aca
VITE_FIREBASE_PROJECT_ID=tu_valor_real_aca
VITE_FIREBASE_STORAGE_BUCKET=tu_valor_real_aca
VITE_FIREBASE_MESSAGING_SENDER_ID=tu_valor_real_aca
VITE_FIREBASE_APP_ID=tu_valor_real_aca

# crea el archivo .env.local agregalo al .gitignore y carga las siguientes variables.
# AWS SES: solo backend/Vercel, nunca usar VITE_ para estas variables
AWS_ACCESS_KEY_ID=tu_access_key_id
AWS_SECRET_ACCESS_KEY=tu_secret_access_key
AWS_REGION=aws_region
AWS_SES_FROM_EMAIL=correo-verificado@example.com